@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

body{
    background-image: url("/assets/Bu2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   display: grid;
   min-height: 100vh;
   grid-template-rows: auto 1fr auto;
}

h1 {
    color: white;
}

h3{
    color: white;
}
h5{
    color: white;
}

.copy {
    background-color: black;
    align-items: center;
    text-align: center;
    padding: 10px;
}

